<div class="layout-container">
<link rel="stylesheet" href="{{ directory }}/css/style.css">
{{ attach_library('icecream/js/blog_interactions') }}

  {{ page.primary_menu }}
  <body{{ attributes }}>


  <main role="main">
    <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
   

    <div class="layout-container">
  
        {{ include('icecream:banner',{Hero_Video:"/themes/custom/icecream/assets/Hero.mp4"})}}

        {{ page.content }}
        {{ include('icecream:headerr')}}

      {# <p><em>Estimated reading time: {{ reading_time }} minute(s)</em></p> #}
        
        {{ page.content_bottom }}
      </div>
    </div>
  </main>

  {% if page.banner_bottom %}
  <div class="layout-banner-bottom" role="banner">
    {{ page.banner_bottom }}
  </div>
  {% endif %}

  {% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
  {% endif %}

</div> <!-- Closing layout-container -->
