<div class="layout-container">
<link rel="stylesheet" href="{{ directory }}/css/style.css">

  {{ page.primary_menu }}
  <body{{ attributes }}>


  <main role="main">
    <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
   

    <div class="layout-container">
    <h1>
         {{icecream_custom_text}}

    </h1>

        {{ page.content }}
        {{ page.content_bottom }}
      </div>
    </div>
  </main>

  {% if page.banner_bottom %}
  <div class="layout-banner-bottom" role="banner">
    {{ page.banner_bottom }}
  </div>
  {% endif %}

  {% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
  {% endif %}

</div> <!-- Closing layout-container -->
